// grid blocks
@import "grid/image-block";
@import "grid/text-block";
@import "grid/project-block";

// grid Styles
// min-width since the mobile styles are so different it was easier to not have to override anything
// ------------------------------------------------------------------------------------------------- //
.details-grid--0 {
  line-height: 1;
}

.details-grid--6 {
  line-height: 1;
  width: 100%;
  @media (min-width: $details-grid-single-column-break + 1) {
    height: 60vh;
  }
}

.details-projects * {
  margin: 3% 0 2% 0;
  // margin: 2% 0;

  @media (max-width: $details-grid-single-column-break) {
    margin: 4% 0;
  }
}

.details-contact > * {
  margin: 10% 0;

  @media (max-width: $details-grid-single-column-break) {
    text-align: center;
    margin: 8% 0;
  }

}

.details-projects > * {
  @media (min-width: $details-grid-single-column-break + 1) {
    width: 33%;
  }
  @media (max-width: $details-grid-single-column-break) {
    width: 50%;
  }

  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.details-projects {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  @media (min-width: $details-grid-single-column-break + 1) {
    height: 90%;
  }
  @media (max-width: $details-grid-single-column-break) {
    padding: 0 3%;
  }
}

.details-grid__asym-longleft-left {
  width: 67%;
  height: 100%;
  @media (max-width: $details-grid-single-column-break) {
    height: 91vw;
    width: 100%;
    margin-bottom: 23%;
  }
}

.details-grid__asym-longleft-right {
  width: 33%;
  height: 100%;
  padding-left: 4%;
  @media (max-width: $details-grid-single-column-break) {
    width: 100%;
    // height: 91vw;
  }
}


@media (min-width: $details-grid-single-column-break + 1) {
  // grid
  .details-grid {
    position: relative;
  }

  .details-grid-inline {
    @extend .details-grid;
    display: inline-flex;
  }

  .details-grid--1 {
    // height: 51vh;
    // height: 35vh;
    color: #ab9e95;
    .grid-item1 {
      order: 1;
    }
    .grid-item2 {
      order: 2;
    }
  }

  .details-grid--2 {
    // height: 50vh;
  }

  .details-grid--7 {
    // height: 36vh;
    .grid-item1 {
      order: 1;
    }
    .grid-item2 {
      order: 2;
    }
  }

  .details-grid--3 {
    // height: 64vh;
    // height: 44vh;
    .grid-item1 {
      order: 1;
    }
    .grid-item2 {
      order: 2;
    }
  }

  .details-grid--4 {
    // height: 100vh;
    // height: 71vh;
  }

  .details-grid--5 {
    // height: 87vh;
    // height: 62vh;
    .grid-item1 {
      order: 1;
    }
    .grid-item2 {
      order: 2;
      display: flex;
      align-items: center;
    }
  }

  .details-grid--6 {
    // height: 63vh;
    width: 100%;
  }

  // content
  .details-grid__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .details-grid__item {
    position: relative;
    overflow: hidden;
  }
  .details-grid__item--full {
    width: 100%;
    height: 100%;
  }

  .details-grid__horizontal {
    display: inherit;
    flex-direction: row;
    flex: 1 1 0;
    height: auto;
    align-items: center;
  }

  .details-grid__asym-longright-left {
    width: 33%;
    height: 100%;
  }

  .details-grid__asym-longright-right {
    width: 67%;
  }

  // Grid 6
  .details-asym-container{
    height: 100%;
    width: 100%;
    display: inline-flex;
    padding: 4% 9%;
  }
}


@media (max-width: $details-grid-single-column-break) {
  .details-grid--1, .details-grid--3, .details-grid--5 {
    display: flex;
    flex-direction: column;
    .grid-item1 {
      order: 2;
    }
    .grid-item2 {
      order: 1;
    }
  }
  .details-grid--7 {
    display: flex;
    // height: 100vh;
    flex-direction: column;
    .grid-item1 {
      order: 1;
    }
    .grid-item2 {
      order: 3;
    }
    .grid-item2 {
      order: 2;
    }
  }

  .details-grid--6 > .details-asym-container {
    margin: 15% 0 8% 0;
  }
}
