// grid
// ------------------------------------------------------------------------------------------------- //

// Layouts
// ------------------------------------------------------------------------------------------------- //
// These are the different layouts for the image and text blocks
// The text and image blocks will scale to fit these layouts
.pd-grid {
  display: flex;
}

// full layout
.pd-grid--full {
  .pd-grid__block--text {
    padding: 7vw 18.2vw;
  }
}

// half layout
.pd-grid--half {
  .pd-grid__block {
    flex: 1 1 50%;
  }
  .pd-grid__block--text {
    padding: 2vw 7.6vw;
  }
}

// third layout
.pd-grid--third {
  .pd-grid__block--image {
    flex: 1 1 33.333%;
  }
  .pd-grid__block--text {
    flex: 1 1 66.666%;
    padding: 2vw 8vw;
  }
}

// blocks
// ----------------------------------------- //
// Images or text
// Text can be large and/or on a brown background
.pd-grid__block {

}

// image block
.pd-grid__block--image {

}
.pd-grid__picture {
  display: block;
  line-height: 0;
}
.pd-image__img {
  width: 100%;
}

// text block
.pd-grid__block--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: px2vw(24, $designLarge);
  line-height: px2lh(24, 46);
  letter-spacing: ps2em(6);
}

// large text block
.pd-grid__block--large {
  color: $lightLightBrown;
  font-size: px2vw(30, $designLarge);
  line-height: px2lh(30, 51);
  letter-spacing: ps2em(-10);
}

// brown text block
.pd-grid__block--brown {
  color: $white;
  background-color: $brown;
}

// fixed text size
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $details-grid-break) {
  // text block
  .pd-grid__block--text {
    font-size: 17.075px;
  }

  // large text block
  .pd-grid__block--large {
    font-size: 21.3438px;
  }
}

// mobile styles
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $details-grid-single-column-break) {
  // layouts
  // ----------------------------------------- //
  .pd-grid {
    flex-direction: column;
  }
  .pd-grid--image-left {
    flex-direction: column-reverse;
  }
  .pd-grid--image-right {
    flex-direction: column-reverse;
  }

  // make sections full width
  .pd-grid--full,
  .pd-grid--half,
  .pd-grid--third {
    .pd-grid__block {
      flex-basis: 100%;
    }
    .pd-grid__block--text {
      padding: 9vw 5.5vw;
    }
  }

  // blocks
  // ----------------------------------------- //
  // image
  .pd-grid__block--image {

  }

  // text
  .pd-grid__block--text {
    display: block;
    font-size: 17px;
    line-height: 1.75;
  }

  // large text block
  .pd-grid__block--text.pd-grid__block--large {
    font-size: 20px;
    line-height: px2lh(20, 32.5);
  }
}
