.details-hero {

}
.details-hero__container {

}

// header
.details-hero__header {
  font-family: $bold;
  font-size: 3.8vw;
  text-transform: uppercase;
  color: $lightBrown;
  letter-spacing: ps2em(250);
  text-align: center;
  margin-bottom: 2vw;
  line-height: 1;
  padding: 0 20px;
}

// dash
.details-hero__dash {
  @include dash;
  display: block;
  margin: 0 auto;
}

// picture
.details-hero__picture {
  line-height: 0;
  font-size: 0;
  display: block;
}
.details-hero__img {
  width: 100%;
}

// mobile
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $details-grid-single-column-break) {
  // header
  .details-hero__header {
    font-size: px2vw(32.5, $designSmall);
    text-align: center;
    letter-spacing: .27em;
    letter-spacing: ps2em(300);
    line-height: px2lh(32.5, 42.5);
    margin-bottom: 3.8vw;
    padding: 0 10px;
  }

  // dash
  .details-hero__dash {
    @include dash-small;
    display: block;
    margin: 0 auto;
  }
}

