// section class .press-awards

.press-awards-header {
  @include about-mini-header;
  text-align: center;
  margin-bottom: 4.8%;

  @media (max-width: $about-break) {
    font-size: 21.33px;
  }

  @media (max-width: $about-single-column-break) {
    @include about-mini-header--small;
    margin-bottom: 7.6%;
  }
}

// containers
.press-awards {
  width: 100%;
  padding-bottom: 5%;

  @media (max-width: $press-single-column-break) {
    padding: 8% 4.5% 6%;
  }
}

.press-awards-members {
  width: 100%;
  columns: 2;

  @media (min-width: $press-single-column-break + 1) {
    padding-left: 5%;
    columns: 4;
  }
}

.press-awards-container {
  break-inside: avoid;

  @media (min-width: $press-single-column-break + 1) {
    padding: 0 35% 6% 0;
  }

  @media (max-width: $press-break) {
    padding: 0 11% 6% 0;
  }
  @media (max-width: $press-single-column-break) {
    padding: 0 0 14.5%;
  }

  .press-awards-container-header {
    margin-bottom: 6%;
  }
  .press-awards-content {
  }
}

// texts
.press-awards-name {
  font-family: $bold;
  color: $lightBrown;

  font-size: 18px;
  font-size: px2vw(18, $designLarge);
  letter-spacing: ps2em(300);
  line-height: px2lh(18, 30);

  @media (max-width: $press-break) {
    font-size: 12.82px;
    // line-height: px2lh(12, 20);
  }

  @media (max-width: $press-single-column-break) {
    margin-bottom: 6%;
    overflow-wrap: break-word;
    word-wrap: break-word;

    font-size: 14px;
    font-size: px2vw(14, $designSmall);
    letter-spacing: ps2em(260);
    line-height: px2lh(14, 22);
  }
}

.press-awards-title {
  font-family: $regular;
  color: $brown;

  font-size: 18px;
  font-size: px2vw(18, $designLarge);
  letter-spacing: ps2em(10);
  line-height: px2lh(18,30);

  @media (max-width: $press-break) {
    font-size: 12.82px;
    // line-height: px2lh(12, 20);
  }

  @media (max-width: $press-single-column-break) {
    overflow-wrap: break-word;
    word-wrap: break-word;

    font-size: 14px;
    font-size: px2vw(14, $designSmall);
    letter-spacing: ps2em(10);
    line-height: px2lh(14, 22);
  }
}
