@media (min-width: $about-single-column-break + 1) {
  .about-image-block {
    line-height: 0;
    font-size: 0;
    display: block;
    width: 100%;
    height: auto;
  }
  .about-image-block__picture {
    position: relative;
    width: 100%;
    height: auto;
  }
  .about-image-block__img {
    width: 100%;
    height: auto;
  }
}

// single column
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $about-single-column-break) {
  .about-image-block {
    line-height: 0;
    font-size: 0;
    display: block;
  }
  .about-image-block__picture {
    width: 100%;
  }
  .about-image-block__img {
    width: 100%;
  }
}
