.press-media {
  height: 35vw;
  width: 100%;
  background: linear-gradient(180deg, $brown 50%, #ffffff 50%);
}

.press-media-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 20%;
  align-items: center;
}

.press-media-header-placeholder {
  width: 33.333%;
}

.press-media-headline {
  font-family: $bold;
  width: 33.333%;
  text-transform: uppercase;
  color: #ffffff;

  font-size: px2vw(30, $designLarge);
  line-height: px2lh(30, 40);
  letter-spacing: ps2em(200);
}

.press-media-dynamos {
  display: flex;
  flex-direction: row;
  width: 33.333%;
  align-items: center;
  justify-content: flex-end;
}

.press-media-dropdown {
  display: flex;
  flex-direction: column;
  font-family: $medium;
  width: 60%;
  justify-content: flex-end;
  border: 1px solid $lightBrown;
  .press-media-dropdown-header {
    padding: 0 5%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      color: #ffffff;
      text-transform: uppercase;
      font-size: px2vw(15, $designLarge);
      line-height: px2lh(15, 40);
      letter-spacing: ps2em(200);
    }
    svg {
      width: 6px;
      height: auto;
      transform: rotate(90deg);
    }
  }

  .press-media-dropdown-container {
    display: none;
    z-index: 2000;
    width: 100%;
    height: 80%;
  }

}

.press-media-nav-arrows {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.press-media-mags {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.press-media-mag-item {
  display: flex;
  flex-direction: column;
}

.press-media-article {
  @extend .press-article-description;
  // height: 6vw;
  height: auto;
}
.press-media-article-date {
  color: $brown;
  font-family: $demiBold;
  font-size: px2vw(15, $designLarge);
  line-height: px2lh(15, 40);
  letter-spacing: ps2em(3);
}
.press-media-article-title {
  color: $lightBrown;
  font-family: $demiBoldItalic;
  font-size: px2vw(24, $designLarge);
  line-height: px2lh(24, 39);
  letter-spacing: ps2em(0);
}
.press-media-article-content {
  font-family: $regular;
  font-size: px2vw(18, $designLarge);
  line-height: px2lh(18, 35);
  letter-spacing: ps2em(0);
}

.press-media-actions {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  // align-items: center;

  .press-media-pdf,
  .press-media-read {
    @include button--small;
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }
}
