.press-news-paginator {
  margin: 0 auto 3% auto;
  display: flex;
  width: 20%;
  height: 10%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  & > * {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: $orange;
    }
  }
}

.press-news-next {
  svg {
    height: auto;
    width: 11px;
    &:hover {
      fill: $orange;
    }
  }
}

.press-news-article {
  @extend .press-article-description;
  height: auto;
}
.press-news-article-date {
  color: $brown;
  font-family: $demiBold;
  font-size: px2vw(15, $designLarge);
  line-height: px2lh(15, 40);
  letter-spacing: ps2em(3);
}
.press-news-article-title {
  font-family: $demiBold;
  color: $lightBrown;
  font-size: px2vw(24, $designLarge);
  line-height: px2lh(24, 39);
  letter-spacing: ps2em(0);
}
.press-news-article-content {
  color: #000000;
  font-family: $regular;
  font-size: px2vw(18, $designLarge);
  line-height: px2lh(18, 35);
  letter-spacing: ps2em(0);
}



