// section class .press-section1

.press-flex-container {
  height: 60vh;
  display: flex;
  width: 100%;

  @media (max-width: $press-single-column-break) {
    flex-direction: column;
  }
}

.press-column-item {
  position: relative;
  flex: 0 0 50%;
  width: 50%;
  overflow: hidden;

  @media (max-width: $press-single-column-break) {
    flex: 0 0 100%;
    width: 100%
  }
}

.press-text-wrapper {
  flex: 0 0 50%;
  width: 50%;
  display: flex;
  align-items: center;

  @media (max-width: $press-single-column-break) {
    flex: 0 0 100%;
    width: 100%
  }
}

.press-read-button {
  @include button-lrg;

  @media (max-width: $about-break) {
    @include button;
  }

  @media (max-width: $about-single-column-break) {
    @include button--small;
  }
}

.press-img-wrapper {
  background: url(../images/press/desktop/Book.jpg) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.45);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  // .press-book-img {
  //   max-width: 100%;
  //   height: 100%;
  //   transform: scale(1.3);
  //
  //   @media (max-width: $about-single-column-break) {
  //     width: 100%;
  //     height: 25vh;
  //   }
  // }
}

.press-text-wrapper {
}

.press-text-section1 {
  width: 100%;
  height: 100%;
  background-color: grey;
}
