@media (min-width: $hm-grid-single-column-break + 1) {
  .hm-project-block {

  }

  // link
  .hm-project-block__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // only show text overlay on non-touch devices
  // ----------------------------------------- //
  .no-touchevents {
    // copy
    .hm-project-block__copy {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: rgba(97, 89, 84, 0.0);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transition: background-color 0.3s $easeInOutQuad;
    }
    .hm-project-block__header {
      font-family: $bold;
      font-size: 21px;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: ps2em(315);
      margin-bottom: 25px;
      opacity: 0;
      transform: translateY(8px);
      transition: opacity 0.3s $easeInOutQuad,
                  transform 0.3s $easeInOutQuad;
    }
    .hm-project-block__cta {
      opacity: 0;
      transition: opacity 0.3s $easeInOutQuad;
    }
    .hm-project-block__cta-btn {
      @include button;
    }

    // copy:hover
    .hm-project-block__link:hover {
      .hm-project-block__copy {
        background-color: rgba(97, 89, 84, 0.9);
      }
      .hm-project-block__header {
        opacity: 1;
        transform: translateY(0);
      }
      .hm-project-block__cta {
        opacity: 1;
      }
    }

    // more
    .hm-project-block__more {
      display: none;
    }
  }

  // show "more" button on touch devices
  // ----------------------------------------- //
  .touchevents {
    // copy
    .hm-project-block__copy {
      display: none;
    }

    // more
    .hm-project-block__more {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 5;
      font-family: $medium;
      color: #fff;
      font-size: 12.5px;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.16em;
      background-color: rgba(97, 89, 84, 0.9);
      padding: 17px 20px 17px;
      svg {
        fill: #fff;
        margin-left: 3px;
      }
    }
  }

  // picture
  .hm-project-block__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    line-height: 0;
    font-size: 0;
  }
  .hm-project-block__img {
    width: 100%;
  }
}

// make text scale up on larger screens based on viewport
// ------------------------------------------------------------------------------------------------- //
@media (min-width: $hm-grid-break) {
  // only show text overlay on non-touch devices
  // ----------------------------------------- //
  .no-touchevents {
    // copy
    .hm-project-block__header {
      font-size: 1.54vw;
      margin-bottom: 2.75%;
    }
    .hm-project-block__cta-btn {
      @include button-lrg;
    }
  }

  // show "more" button on touch devices
  // ----------------------------------------- //
  .touchevents {
    // copy
    .hm-project-block__copy {
      display: none;
    }

    // more
    .hm-project-block__more {
      font-size: 0.915vw;
      padding: 1.87% 2.2%;
      svg {
        margin-left: 0.25em;
        width: 0.38em;
        height: auto;
      }
    }
  }
}

// single column
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $hm-grid-single-column-break) {
  .hm-project-block {
    position: relative;
    line-height: 0;
    font-size: 0;
  }

  // link
  .hm-project-block__link {

  }

  // copy
  .hm-project-block__copy {
    display: none;
  }

  // more
  .hm-project-block__more {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    font-family: $medium;
    color: #fff;
    font-size: 12.5px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    background-color: rgba(97, 89, 84, 0.9);
    padding: 17px 20px 17px;
    svg {
      fill: #fff;
      margin-left: 3px;
    }
  }

  // picture
  .hm-project-block__picture {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  .hm-project-block__img {
    width: 100%;
  }
}
