// fonts
/*-------------------------------------------------------------------------------------------------*/

// Ultra Light
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNextUltraLight';
  src: url('../fonts/AvenirNextUltraLight/AvenirNextUltraLight.eot');
  src: url('../fonts/AvenirNextUltraLight/AvenirNextUltraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextUltraLight/AvenirNextUltraLight.woff') format('woff'),
       url('../fonts/AvenirNextUltraLight/AvenirNextUltraLight.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextUltraLightItalic';
  src: url('../fonts/AvenirNextUltraLightItalic/AvenirNextUltraLightItalic.eot');
  src: url('../fonts/AvenirNextUltraLightItalic/AvenirNextUltraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextUltraLightItalic/AvenirNextUltraLightItalic.woff') format('woff'),
       url('../fonts/AvenirNextUltraLightItalic/AvenirNextUltraLightItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Regular
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNextRegular';
  src: url('../fonts/AvenirNextRegular/AvenirNextRegular.eot');
  src: url('../fonts/AvenirNextRegular/AvenirNextRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextRegular/AvenirNextRegular.woff') format('woff'),
       url('../fonts/AvenirNextRegular/AvenirNextRegular.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextItalic';
  src: url('../fonts/AvenirNextItalic/AvenirNextItalic.eot');
  src: url('../fonts/AvenirNextItalic/AvenirNextItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextItalic/AvenirNextItalic.woff') format('woff'),
       url('../fonts/AvenirNextItalic/AvenirNextItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Medium
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNextMedium';
  src: url('../fonts/AvenirNextMedium/AvenirNextMedium.eot');
  src: url('../fonts/AvenirNextMedium/AvenirNextMedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextMedium/AvenirNextMedium.woff') format('woff'),
       url('../fonts/AvenirNextMedium/AvenirNextMedium.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextMediumItalic';
  src: url('../fonts/AvenirNextMediumItalic/AvenirNextMediumItalic.eot');
  src: url('../fonts/AvenirNextMediumItalic/AvenirNextMediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextMediumItalic/AvenirNextMediumItalic.woff') format('woff'),
       url('../fonts/AvenirNextMediumItalic/AvenirNextMediumItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Demi
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNextDemiBold';
  src: url('../fonts/AvenirNextDemiBold/AvenirNextDemiBold.eot');
  src: url('../fonts/AvenirNextDemiBold/AvenirNextDemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextDemiBold/AvenirNextDemiBold.woff') format('woff'),
       url('../fonts/AvenirNextDemiBold/AvenirNextDemiBold.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextDemiBoldItalic';
  src: url('../fonts/AvenirNextDemiBoldItalic/AvenirNextDemiBoldItalic.eot');
  src: url('../fonts/AvenirNextDemiBoldItalic/AvenirNextDemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextDemiBoldItalic/AvenirNextDemiBoldItalic.woff') format('woff'),
       url('../fonts/AvenirNextDemiBoldItalic/AvenirNextDemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// Bold
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNextBold';
  src: url('../fonts/AvenirNextBold/AvenirNextBold.eot');
  src: url('../fonts/AvenirNextBold/AvenirNextBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextBold/AvenirNextBold.woff') format('woff'),
       url('../fonts/AvenirNextBold/AvenirNextBold.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextBoldItalic';
  src: url('../fonts/AvenirNextBoldItalic/AvenirNextBoldItalic.eot');
  src: url('../fonts/AvenirNextBoldItalic/AvenirNextBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextBoldItalic/AvenirNextBoldItalic.woff') format('woff'),
       url('../fonts/AvenirNextBoldItalic/AvenirNextBoldItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
