.acf-postbox > h2 {
  font-size: 18px !important;
}

.acf-fields.inside:not(.-left) {
  & > .acf-field {
    & > .acf-label {
      // font-size: 18px;
      // margin-bottom: 8px;
    }
  }
}

.acf-flexible-content .layout .acf-fc-layout-handle {
  font-size: 15px !important;
  background-color: #f1f1f1;
  font-weight: bold;
}

.acf-field.acf-accordion .acf-accordion-title {
  background-color: #f1f1f1;
}
.acf-accordion .acf-accordion-title label {
  font-size: 15px !important;
  font-weight: normal !important;
}

.acf-flexible-content .layout .acf-fc-layout-order {
  background-color: #ffffff !important;
}


#wp-admin-bar-comments,
#wp-admin-bar-new-content {
  display: none;
}

