@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'utilities';

// home
@import 'home/mixins';
@import 'home/hero';
@import 'home/grid';
@import 'home/follow';

html,
body {
  height: 100%;
  font-family: $regular;
  -webkit-font-smoothing: antialiased;
  color: $brown;
}

