@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'utilities';

// home
@import 'home/hero';

html,
body {
  height: 100%;
  font-family: $regular;
  -webkit-font-smoothing: antialiased;
}

