// Grid vars
$hm-grid-single-column-break: 700px;
$hm-grid-break: 1366px;
$hm-grid-text-break: 1010px;

// Grid blocks
@import "grid/image-block";
@import "grid/project-block";
@import "grid/text-block";

// Grid Styles
// min-width since the mobile styles are so different it was easier to not have to override anything
// ------------------------------------------------------------------------------------------------- //
@media (min-width: $hm-grid-single-column-break + 1) {
  .hm-grid {
    position: relative;
    padding-top: 84.375%;
  }
  .hm-grid__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  // grid item
  .hm-grid__item {
    position: relative;
    overflow: hidden;
  }
  .hm-grid__item--bg-square {
    width: 66.7%;
    height: 66.7%;
  }
  .hm-grid__item--square {
    width: 33.3%;
    height: 33.3%;
  }
  .hm-grid__item--horizontal {
    width: 66.7%;
    height: 33.3%;
  }
  .hm-grid__item--vertical {
    width: 33.3%;
    height: 66.7%;
  }

  // layout one
  // ----------------------------------------- //
  .hm-grid--1 {

  }
}

// Make text blocks taller
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $hm-grid-text-break) {
  // layout one
  // ----------------------------------------- //
  .hm-grid--1 {
    .hm-grid__item--square {
      height: 50%;
    }
    .hm-grid__item--vertical {
      height: 50%;
    }
  }
}

// single column
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $hm-grid-single-column-break) {
  .hm-grid {

  }
  .hm-grid__content {
    display: flex;
    flex-direction: column;
  }

  // layout one
  // ----------------------------------------- //
  .hm-grid--1 {
    .hm-grid__item--bg-square {
      order: 1;
    }
    .hm-grid__item--square {
      order: 2;
    }
    .hm-grid__item--vertical {
      order: 3;
    }
    .hm-grid__item--horizontal {
      order: 4;
    }
  }
}

