.hm-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

// scroll
// ----------------------------------------- //
.hm-scroll-cta {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  svg {
    fill: #fff;
    width: 6px;
    height: 24px;
    margin-bottom: 9px;
  }
}
.hm-scroll-cta__text {
  font-family: $demiBold;
  font-size: 7px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  letter-spacing: ps2em(150);
  -webkit-font-smoothing: auto;
}

// image
// ----------------------------------------- //
.hm-hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/home/hero-lrg.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0;
  transform: scale(1.08);
  transition: all 1.5s $easeOutQuad;

  &.is-loaded {
    opacity: 1;
    transform: scale(1);
  }
}

// larger screens
// ------------------------------------------------------------------------------------------------- //
@media (min-width: 1366px + 1) {
  .hm-scroll-cta {
    bottom: 34px;

    svg {
      width: 8px;
      height: 34px;
      margin-bottom: 14px;
    }
  }
  .hm-scroll-cta__text {
    font-size: 10px;
  }
}

// not full screen height
// ------------------------------------------------------------------------------------------------- //
@media (max-width: 1010px) {
  .hm-hero {
    height: auto;
    padding-top: 60%;
  }
}

// hide scroll cta
// ------------------------------------------------------------------------------------------------- //
@media (max-width: 700px) {
  .hm-hero {
    height: auto;
    padding-top: 60%;
  }
  // scroll
  .hm-scroll-cta {
    display: none;
  }
}
