.hm-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/home/hero-lrg.jpg) no-repeat left top;
  background-size: cover;
}

// scroll
// ----------------------------------------- //
.hm-scroll-cta {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  svg {
    fill: #fff;
    width: 6px;
    height: 24px;
    margin-bottom: 9px;
  }
}
.hm-scroll-cta__text {
  font-family: $demiBold;
  font-size: 7px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  letter-spacing: ps2em(150);
  -webkit-font-smoothing: auto;
}

// mobile
// ------------------------------------------------------------------------------------------------- //
@media (max-width: 700px) {
  .hm-hero {
    height: auto;
    padding-top: 60%;
    background-image: url(../images/home/hero-sml.jpg);
  }
  // scroll
  .hm-scroll-cta {
    display: none;
  }
}
