.hm-instagram {

}
.hm-instagram__list {
  display: flex;
  flex-wrap: wrap;
}
.hm-instagram__item {
  flex: 1 1 16.666666667%;
  overflow: hidden;
}
.hm-instagram__link {
  position: relative;
  display: block;
  padding-top: 100%;
  overflow: hidden;
  transform: scale(1);
  transition: 0.5s $easeOutQuad;

  &:hover {
    transform: scale(1.1);
  }
}
.hm-instagram__img {
  position: absolute;
}
.hm-instagram__img.is-square {
  width: 100%;
  top: 0;
}
.hm-instagram__img.is-portrait {
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.hm-instagram__img.is-landscape {
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

// three columns
// ------------------------------------------------------------------------------------------------- //
@media (max-width: 1000px) {
  .hm-instagram__item {
    flex-basis: 33.333%;
  }
}


// two columns
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $hm-grid-single-column-break) {
  .hm-instagram__item {
    flex-basis: 50%;
  }
}
