// section class .press-details

.press-details {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  @media (max-width: $press-single-column-break) {
    flex-flow: column wrap;
  }
}

.press-details-placeholder {
  width: 100%;
  height: 18.6vw;
  overflow: hidden;
}

.press-details-hero {
  width: 100%;
  height: auto;
}

.press-details-hero-wrapper {
  position: relative;
  width: 100%;
  height: auto;

  .press-details-img {
    width: 100%;
    height: auto;
  }
}

.press-details-item {
  display: flex;
  overflow: hidden;
}

.press-details-share-light ,
.press-details-share-dark ,
.press-details-share-medium {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}

.press-details-share-light {
  padding: 3vw 25vw;
  @media (max-width: $press-single-column-break) {
    padding: 3vw 10vw;
  }
}

.press-details-share-dark {
  background-color: $brown;
  padding: 3vw 20vw;

  @media (max-width: $press-single-column-break) {
    padding: 3vw 10vw;
  }
}

.press-details-share-medium {
  background-color: #efeded;
  // color: #fff;
  justify-content: center;
  padding: 3vw 0;
}

.press-details-single {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 8vw 25vw;
  flex-direction: column;
  & > * {
    margin: 1vw 0;
  }
  @media (max-width: $press-single-column-break) {
    padding: 8vw 10vw;
  }
}
.press-details-dual {
  position: relative;
  flex: 1 1 50%;
  width: 50%;

  @media (max-width: $press-single-column-break) {
    flex: 0 0 100%;
    width: 100%
  }
}

.press-details-feature-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $brown;
}

.press-details-feature-wrapper {
  // display: flex;
  flex-direction: column;
  padding: 8vw 5vw;
  justify-content: flex-end;
  align-items: flex-start;
  & > * {
    margin: 3% 0;
  }
}

.press-details-feature-header,
.press-details-feature-date,
.press-details-feature-description {
  font-family: $regular;
  color: #ffffff;
}

.press-details-feature-header {
  font-size: px2vw(50, $designLarge);
  line-height: px2lh(50, 67);
  letter-spacing: ps2em(1);

  @media (max-width: $press-single-column-break) {
    // font-size: px2vw(22.5, $designSmall);
    font-size: px2vw(22, $designSmall);
    line-height: px2lh(22.5, 32.5);
    letter-spacing: ps2em(10);
  }
}

.press-details-feature-description {
  font-size: px2vw(18, $designLarge);
  line-height: px2lh(18, 35);
  letter-spacing: ps2em(0);

  @media (max-width: $press-break) {
    font-size: 12.79px;
  }
  @media (max-width: $press-single-column-break) {
    font-size: px2vw(15, $designSmall);
    line-height: px2lh(15, 25);
    letter-spacing: ps2em(0);
  }
}

.press-details-read-button {
  @media (min-width: $press-single-column-break + 1) {
    @include button-lrg;
    letter-spacing: .1em;
    padding: 1.5vw 1.7vw;
    margin-bottom: 0;
  }

  @media (max-width: $press-break) {
    line-height: 0;
    font-size: 11.05px;
    padding: 20.47px 23.20px;
  }

  @media (max-width: $press-text-break) {
    line-height: 1.2;
    font-size: 1.2vw;
  }

  @media (max-width: $press-single-column-break) {
    @include button--small;
    letter-spacing: .2em;
    padding: 6vw 5.5vw;
  }
}


.press-details-feature-content ,
.press-details-text-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: px2vw(24, $designLarge);
  line-height: px2lh(24, 45);
  letter-spacing: ps2em(0);

  @media (max-width: $press-text-break) {
    font-size: 12.78px;
    line-height: 23px;
  }
  @media (max-width: $press-single-column-break) {
    font-size: px2vw(15, $designSmall);
    line-height: px2lh(15, 25);
    letter-spacing: ps2em(0);
  }

  & > * {
    margin: .5vw 0;
  }
}

.press-details-feature-content {
  padding: 4vw 7vw;

  @media (max-width: $press-single-column-break) {
    padding: 8vw 10vw 0 10vw;
  }
}

.press-details-text-aside {
  color: $brown;
  font-family: $regular;
}

.press-details-single-feature {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  // padding: 4vw 18vw 0 18vw;
  padding: 4vw 18vw;
  color: $lightBrown;
  font-size: px2vw(30, $designLarge);
  line-height: px2lh(30, 50);

  @media (max-width: $press-text-break) {
    font-size: 15.79px;
    line-height: 26px;
  }
  @media (max-width: $press-single-column-break) {
    // padding: 8vw 10vw 0 10vw;
    padding: 8vw 10vw;
    font-size: px2vw(18, $designSmall);
    line-height: px2lh(18, 30);
  }
}

.press-details-img-wrapper {
  position: relative;
  width: 100%;
  height: auto;

  .press-details-img {
    position: absolute;
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: $about-single-column-break) {
      position: relative;
      width: 100%;
      height: auto;
      left: 0;
      transform: translateX(0);
    }
  }
}

.press-details-placeholder-wrapper {
  position: relative;
  width: 100%;

  .press-details-img {
    width: 100%;
    // height: 18.6vw;
    height: 100%;
    // @media (max-width: $press-single-column-break) {
    //   height: 36vw;
    // }
  }
}

.press-details-img-wrapper ,
.press-details-placeholder-wrapper {
  picture {
    width: 100%;
    line-height: 0;
    display: block;
  }
}

.press-details-dark {
  background-color: $brown;
  color: #fff;
  padding: 8vw 20vw;

  @media (max-width: $press-single-column-break) {
    padding: 8vw 10vw;
  }
}

.press-details-medium {
  background-color: #efeded;
  // color: #fff;
  // padding: 8vw 40vw;

  // @media (max-width: $press-single-column-break) {
  //   padding: 8vw 10vw;
  // }
}

.press-details-advert-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  picture {
    line-height: 0;
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.press-details-share-button {
  font-size: px2vw(15, $designLarge);
  color: $lightLightBrown;
  text-transform: uppercase;
  letter-spacing: ps2em(250);
  font-family: $medium;

  svg {
    fill: $lightLightBrown;
    height: auto;
    width: px2vw(26, $designLarge);
    position: relative;
    top: 0.4vw;
    margin-right: 0.35vw;
  }

  @media (max-width: $press-break) {
    font-size: 10.6719px;

    svg {
      width: 18.484px;
      top: 5.464px;
      margin-right: 4.781px;
    }
  }

  @media (max-width: $press-single-column-break) {
    font-size: 12.5px;

    svg {
      width: 25.5px;
      top: 9px;
      margin-right: 8px;
    }
  }
}

.pd-related-articles__container {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  margin-top: 4.1vw;
  @media (max-width: $press-single-column-break) {
    margin-top: 8vw;
  }
}
.press-details-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  & > * {
    margin-right: 1vw;
    @media (max-width: $press-single-column-break) {
      margin-right: 5vw;
    }
  }
}
