.ab-bio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $white;
  z-index: 9999;
  display: flex;
  line-height: 1.2;
  visibility: hidden;

  &.is-open {
    visibility: visible;
  }

  // Mobile
  @media (max-width: 700px) {
    display: block;
    overflow: auto;
  }
}

// Close btn
// ----------------------------------------- //
.ab-bio__close-btn {
  position: absolute;
  top: px2vw(40, $designLarge);
  right: px2vw(45, $designLarge);
  svg {
    width: px2vw(19, $designLarge);
    height: px2vw(19, $designLarge);
    fill: $brown;
  }

  // Fixed size on large screens
  @media (min-width: 1920px) {
    top: 40px;
    right: 45px;
    svg {
      width: 19px;
      height: 19px;
    }
  }

  // Fixed size on medium screens
  @media (max-width: 1366px) {
    top: 28.458px;
    right: 32.016px;
    svg {
      width: 13.516px;
      height: 13.516px;
    }
  }

  // Mobile
  @media (max-width: 700px) {
    top: 20px;
    right: 20px;
    svg {
      width: 22px;
      height: 22px;
    }
  }
}

// Header
// ----------------------------------------- //
.ab-bio__header {

}
.ab-bio__header--mobile {
  display: none;
}

// Mobile
@media (max-width: 700px) {
  .ab-bio__header--mobile {
    display: block;
    text-align: center;
    padding-top: 60px;
  }
  .ab-bio__header--desktop {
    display: none;
  }
}

.ab-bio__name {
  text-transform: uppercase;
  font-family: $bold;
  color: $lightBrown;
  font-size: px2vw(70, $designLarge);
  letter-spacing: ps2em(290);
  margin-left: -0.4%;
  margin-bottom: 1%;

  // Fixed size on large screens
  @media (min-width: 1920px) {
    font-size: 70px;
    margin-left: -2.500px;
    margin-bottom: 6.250px;
  }

  // Fixed size on medium screens
  @media (max-width: 1366px) {
    font-size: 49.802px;
    margin-left: -1.781px;
    margin-bottom: 4.453px;
  }

  // Mobile
  @media (max-width: 700px) {
    font-size: 32.5px;
    margin-left: 0;
    margin-bottom: 7px;
    text-align: center;
  }
}
.ab-bio__title {
  color: $brown;
  text-transform: uppercase;
  font-family: $bold;
  font-size: px2vw(30, $designLarge);
  letter-spacing: ps2em(300);
  margin-bottom: px2vw(30, $designLarge);

  // Fixed size on large screens
  @media (min-width: 1920px) {
    font-size: 30px;
    margin-bottom: 30px;
  }

  // Fixed size on medium screens
  @media (max-width: 1366px) {
    font-size: 21.3438px;
    margin-bottom: 21.344px;
  }

  // Mobile
  @media (max-width: 700px) {
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.ab-bio__dash {
  @include dash;
  margin-bottom: px2vw(40, $designLarge);

  // Fixed size on large screens
  @media (min-width: 1920px) {
    margin-bottom: 40px;
  }

  // Fixed size on medium screens
  @media (max-width: 1366px) {
    margin-bottom: 28.458px;
  }

  // Mobile
  @media (max-width: 700px) {
    @include dash-small;
    margin-bottom: 0;
    line-height: 0;
  }
}

// Image
// ----------------------------------------- //
.ab-bio__image-container {
  flex: 0 0 50%;
  overflow: hidden;
  position: relative;

  // Mobile
  @media (max-width: 700px) {
    flex: none;
    margin-top: -5px;
  }
}
.ab-bio__picture {

}
.ab-bio__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  // Mobile
  @media (max-width: 700px) {
    object-fit: none;
    position: static;
    width: 100%;
    height: auto;
  }
}

// Text
// ----------------------------------------- //
.ab-bio__text-container {
  flex: 0 0 50%;
  padding: 4% 10.2% 4% 7.2%;
  display: flex;
  flex-direction: column;

  // Mobile
  @media (max-width: 700px) {
    display: block;
    padding: 28px 20px;
  }
}
.ab-bio__scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.ab-bio__copy {
  font-size: px2vw(18, $designLarge);
  line-height: px2lh(18, 35);
  letter-spacing: ps2em(10);
  margin-bottom: 8%;

  p {
    margin-bottom: 5.5%;
  }

  // Fixed size on large screens
  @media (min-width: 1920px) {
    font-size: 18px;
    margin-bottom: 50.063px;
    p {
      margin-bottom: 34.422px;
    }
  }

  // Fixed size on medium screens
  @media (max-width: 1366px) {
    font-size: 12.8062px;
    margin-bottom: 35.625px;
    p {
      margin-bottom: 24.484px;
    }
  }

  // Mobile
  @media (max-width: 700px) {
    font-size: 17px;
    line-height: px2lh(17, 29.6);
    letter-spacing: 0;
  }
}

// Articles
// ----------------------------------------- //
.ab-bio__articles {

}
.ab-bio__articles-header {
  text-transform: uppercase;
  color: $lightBrown;
  font-family: $bold;
  font-size: px2vw(18, $designLarge);
  margin-bottom: px2vw(16, $designLarge);
  letter-spacing: ps2em(300);

  // Fixed size on large screens
  @media (min-width: 1920px) {
    font-size: 18px;
    margin-bottom: 16px;
  }

  // Fixed size on medium screens
  @media (max-width: 1366px) {
    font-size: 12.8062px;
    margin-bottom: 11.383px;
  }

  // Mobile
  @media (max-width: 700px) {
    font-size: 14px;
    margin-bottom: 18px;
    letter-spacing: ps2em(260);
  }
}

// Article
// ----------------------------------------- //
.ab-bio__article {
  margin-bottom: px2vw(20, $designLarge);

  // Fixed size on large screens
  @media (min-width: 1920px) {
    margin-bottom: 20px;
  }

  // Fixed size on medium screens
  @media (max-width: 1366px) {
    margin-bottom: 14.229px;
  }
}

// Header
.ab-bio__article-header {
  font-size: px2vw(18, $designLarge);
  line-height: px2lh(18, 35);
  letter-spacing: ps2em(10);
  margin-bottom: px2vw(2, $designLarge);
  a {
    color: $orange;
  }
  svg {
    fill: $orange;
    width: px2vw(7, $designLarge);
    height: auto;
    margin-left: px2vw(14, $designLarge);
  }

  // Fixed size on large screens
  @media (min-width: 1920px) {
    font-size: 18px;
    margin-bottom: 2px;
    svg {
      width: 7px;
      margin-left: 14px;
    }
  }

  // Fixed size on medium screens
  @media (max-width: 1366px) {
    font-size: 12.8062px;
    margin-bottom: 1.423px;
    svg {
      width: 4.969px;
      margin-left: 9.960px;
    }
  }

  // Fixed size on medium screens
  @media (max-width: 700px) {
    font-size: 17px;
    line-height: px2lh(17, 29.6);
    letter-spacing: 0;
    margin-bottom: 1.423px;
    svg {
      width: 5px;
      margin-left: 9.960px;
    }
  }
}
.ab-bio__article-description {
  font-size: px2vw(18, $designLarge);
  line-height: px2lh(18, 35);
  letter-spacing: ps2em(10);

  // Fixed size on large screens
  @media (min-width: 1920px) {
    font-size: 18px;
  }

  // Fixed size on medium screens
  @media (max-width: 1366px) {
    font-size: 12.8062px;
  }

  // Mobile
  @media (max-width: 700px) {
    font-size: 17px;
    line-height: px2lh(17, 29.6);
    letter-spacing: 0;
  }
}
