// section class .about-bio-overlay

/* Outer */
.about-bio-overlay {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
  z-index: 2000;
  overflow-y: auto;
}

/* Inner */
.popup-inner {
  width: 100%;
  height: 100%;

  @media (max-width: $about-single-column-break) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.about-bio-overlay__left,
.about-bio-overlay__right {
  background:#fff;
}

.about-bio-overlay__right {
  overflow-y: auto;
}

/* Close Button */
.popup-close {
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:20px;
  right:20px;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  font-family:Arial, Sans-Serif;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:rgba(0,0,0,0.8);

  @media (max-width: $about-single-column-break) {
    color:#fff;
  }
}

// .popup-close:hover {
//   -webkit-transform:translate(50%, -50%) rotate(180deg);
//   transform:translate(50%, -50%) rotate(180deg);
//   text-decoration:none;
// }

.gkirkpatrick {
  background: url(../images/about/bio/GKirkpatrick.JPG) no-repeat center center;
}
.dtran {
  background: url(../images/about/bio/DTran.JPG) no-repeat center center;
}
.pbaker {
  background: url(../images/about/bio/PBaker.JPG) no-repeat center center;
}
.sstraughan {
  background: url(../images/about/bio/SStraughan.JPG) no-repeat center center;
}
.lcopeland {
  background: url(../images/about/bio/LCopeland.JPG) no-repeat center center;
}
.mmcgowan {
  background: url(../images/about/bio/MMcgowan.JPG) no-repeat center center;
}
.mbeckmann {
  background: url(../images/about/bio/MBeckmann.JPG) no-repeat center center;
}
.tpaolillo {
  background: url(../images/about/bio/TPaolillo.JPG) no-repeat center center;
}

.background-left {
  background-position: 67% 50%;
}
.background-right {
  background-position: 16% 50%;
}
.background-img {
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $about-single-column-break) {
    width: 100%;
    height: 30%;
  }
}
