// section class .about-contact

.about-contact {
  // line-height: 1;
  width: 100%;
  .about-contact-details {
    line-height: 2.5vw;
  }

  @media (max-width: $about-single-column-break) {
    .about-asym-container {
      display: flex;
      flex-flow: column wrap;
    }
    .about-asym-container > .contact-item1 {
      order: 2;
    }
    .about-asym-container > .contact-item2 {
      order: 1;
    }
  }
}
