// section class .about-contact

.about-contact {
  width: 100%;

  @media (min-width: $about-single-column-break + 1) {
    .about-asym-container > .contact-item1 {
      padding: 0 4.7%;

    }
    // .about-asym-container > .contact-item2 {
    //   order: 1;
    // }
  }

  // @media (max-width: $about-break) {
  //   .about-asym-container > .contact-item1 {
  //     padding: 2%;
  //
  //   }
  // }
  @media (max-width: $about-text-break) {
    .about-asym-container > .contact-item1 {
      padding: 2%;

    }
  }
  @media (max-width: $about-single-column-break) {
    .about-asym-container {
      display: flex;
      flex-flow: column wrap;
    }
    .about-asym-container > .contact-item1 {
      order: 2;
      padding: 8.5% 3%;
    }
    .about-asym-container > .contact-item2 {
      order: 1;
    }
  }
}

.about-contact-text-block {
  display: flex;
  flex-flow: column;
  text-align: left;

  @media (max-width: $about-single-column-break) {
    display: flex;
    text-align: center;
    flex-flow: column;
    padding: 0% 3%;
  }
}

.about-contact-header {
  @include about-mini-header;
  text-align: left;
  margin-bottom: 14%;

  @media (max-width: $about-break) {
    font-size: 21.34px;
    // margin-bottom: 5%;
  }

  @media (max-width: $about-text-break) {
    // font-size: 21.34px;
    margin-bottom: 5%;
  }

  @media (max-width: $about-single-column-break) {
    text-align: center;
    @include about-mini-header--small;
    margin-bottom: 7%;
  }
}

.about-contact-details {
  font-family: $regular;
  font-size: 18px;
  font-size: px2vw(18, $designLarge);
  letter-spacing: ps2em(10);
  line-height: px2lh(18, 35);

  @media (max-width: $about-break) {
    font-size: 12.83px;
    // line-height: 1.3;
  }

  @media (max-width: $about-text-break) {
    // font-size: 12.83px;
    line-height: 1.3;
  }

  @media (max-width: $about-single-column-break) {
    font-size: 15px;
    font-size: px2vw(15, $designSmall);
    letter-spacing: ps2em(10);
    line-height: px2lh(15, 25);
  }
  a {
    color: $orange;
  }
}
