// section class .about-ext-family

// containers
.about-ext-family-members * {
  margin: 3% 0 2% 0;
  // margin: 2% 0;

  @media (max-width: $about-single-column-break) {
    // margin: 4% 0;
  }
}

.about-ext-family {
  width: 100%;
  height: 30vw;
  padding: 1% 7% 1% 3%;
  @media (max-width: $about-single-column-break) {
    height: 120vw;
  }
}

.about-ext-family-members > * {
  height: 8%;
  margin-left: 4%;
  @media (min-width: $about-single-column-break + 1) {
    width: 24%;
  }
  @media (max-width: $about-single-column-break) {
    width: 50%;
  }

  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.about-ext-family-members {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  @media (max-width: $about-single-column-break) {
    padding: 0 3%;
  }
}

// texts
.about-ext-family-name {
  font-family: $bold;
  letter-spacing: ps2em(300);
  font-size: 18px;
  font-size: 1.35vw;
  @media (min-width: $about-break) {
    font-size: 18px;
  }
  color: $lightBrown;
  @media (max-width: $about-single-column-break) {
    // overflow-wrap: break-word;
    // word-wrap: break-word;
    // hyphens: auto;
    letter-spacing: 5px;
    font-size: 28px;
    font-size: 3.1vw;
  }
}

.about-ext-family-title {
  font-family: $regular;
  font-size: 18px;
  font-size: 1.35vw;
  @media (min-width: $about-break) {
    font-size: 18px;
  }
  color: $brown;
  a {
    color: $orange;
  }
  @media (max-width: $about-single-column-break) {
    letter-spacing: 1.5px;
    font-size: 28px;
    font-size: 3.1vw;
  }
}
