// section class .about-ext-family

// containers
.about-ext-family {
  width: 100%;
  height: 30vw;
  padding: 4% 0;
  @media (min-width: $about-single-column-break + 1) {
  }
  @media (max-width: $about-single-column-break) {
    height: 213vw;
    padding: 9% 4% 6% 4%;
  }
}

.about-ext-family-container {
  @media (min-width: $about-single-column-break + 1) {
    height: 24%;
    width: 24%;
  }
  @media (max-width: $about-single-column-break) {
    width: 50%;
    height: 12%;
    padding: 0 2%;
  }

  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.about-ext-family-members {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  @media (min-width: $about-single-column-break + 1) {
    padding: 0 0 0 10%;
  }
}

// texts
.about-ext-family-name {
  font-family: $bold;
  color: $lightBrown;

  font-size: 18px;
  font-size: px2vw(18, $designLarge);
  letter-spacing: ps2em(260);
  line-height: px2lh(18, 60);

  @media (max-width: $about-single-column-break) {
    margin-bottom: 4%;
    overflow-wrap: break-word;
    word-wrap: break-word;

    font-size: 14px;
    font-size: px2vw(14, $designSmall);
    letter-spacing: ps2em(260);
    line-height: px2lh(14, 22);
  }
}

.about-ext-family-title {
  font-family: $regular;
  color: $brown;

  font-size: 18px;
  font-size: px2vw(18, $designLarge);
  letter-spacing: ps2em(10);
  line-height: px2lh(18, 20);
  @media (max-width: $about-single-column-break) {
    overflow-wrap: break-word;
    word-wrap: break-word;

    font-size: 14px;
    font-size: px2vw(14, $designSmall);
    letter-spacing: ps2em(10);
    line-height: px2lh(14, 22);
  }
}
