// section class .about-family

@media (min-width: $about-single-column-break + 1) {
  .about-family-link {
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // only show text overlay on non-touch devices
  // ----------------------------------------- //
  .no-touchevents {
    // copy
    .about-family-copy {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: rgba(97, 89, 84, 0.0);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transition: background-color 0.3s $easeInOutQuad;
    }
    .about-family-bio {
      font-family: $bold;
      font-size: 21px;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: ps2em(315);
      margin-bottom: 25px;
      opacity: 0;
      transform: translateY(8px);
      transition: opacity 0.3s $easeInOutQuad,
                  transform 0.3s $easeInOutQuad;
    }

    // copy:hover
    .about-family-link:hover {
      .about-family-copy {
        background-color: rgba(255, 168, 56, 0.9);
      }
      .about-family-bio {
        opacity: 1;
        transform: translateY(0);
      }
      .about-family-background,
      .about-family-description {
        display: none;
      }
// .about-project-block__cta {
      //   opacity: 1;
      // }
    }

    // more
    .about-project-block__more {
      display: none;
    }
  }
}

// containers
.about-family-main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
  // justify-content: center;
}

.about-family-background {
  background-color: rgba(97, 89, 84, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  // color: #fff;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // text-align: center;
}

.about-family-person {
  width: 33%;
  position: relative;

  @media (max-width: $about-single-column-break) {
    width: 50%;
  }

  &:nth-child(1) {
    display: flex;
    .about-text-flex-column {
      justify-content: center;

      & >  .about-text-block__dash-left {
        margin: 3% 0 0 13%;
      }
    }
  }
}

.about-family-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5%;
}

.about-family-info {
  width: auto;
}

// texts
.about-family-name {
  font-family: $bold;
  font-size: 20px;
  font-size: 1.9vw;
  height: 1.9vw;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: ps2em(230);
}
.about-family-title {
  font-family: $regular;
  font-size: 13px;
  font-size: 1.5vw;
  height: 1.5vw;
  color: #fff;
  text-align: left;
}

.about-family-headline {
  font-size: 45px;
  font-size: 2.5vw;
  font-family: $bold;
  color: $lightBrown;
  line-height: 1.4;
  letter-spacing: .8vw;
  overflow-wrap: break-word;
  padding: 0 13%;
  @media (max-width: $about-single-column-break) {
    font-size: 40px;
    font-size: 5vw;
    // margin: 9% auto;
    // width: 94%;
    // line-height: 1.8;
    // padding: 0 0;
  }
}
