// section class .about-hero

.about-hero {
  position: relative;
  width: 100%;
  // height: 85vh;
  @media (max-width: 1010px) {
      height: auto;
      // padding-top: 60%;
  }
}

.about-project-hero__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  color: #fff;
  background: rgba(97, 89, 84, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.about-project-hero__text {
  font-family: $bold;
  font-size: 70px;
  font-size: px2vw(70, $designLarge);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: ps2em(300);
  line-height: px2lh(70, 90);
  z-index: 7;

  @media(max-width: $about-single-column-break) {
    font-family: $bold;
    font-size: 32px;
    font-size: px2vw(32, $designSmall);
    letter-spacing: ps2em(300);
    line-height: px2lh(32, 40);
    padding: 0 px2vw(20, $designSmall);
  }
}
