// section class .about-join

// containers
.about-join-details {

  display: flex;
  flex-flow: column;
  align-items: left;

  & > * {
    margin: 5% 0;
  }
  @media (max-width: $about-single-column-break) {
    align-items: center;
  }
}

// texts
.about-join-text-block {
  display: flex;
  flex-flow: column;
  align-self: center;
  padding: 2% 7%;

  .about-right-container-title {
    margin-bottom: 10%;
  }

  @media (max-width: $about-single-column-break) {
    display: flex;
    text-align: center;
    flex-flow: column;
    padding: 0% 3%;
    .about-right-container-title {
      text-align: center;
      margin: 10% 0;
    }
  }
}

.about-join-message,
.about-join-button {
  color: #ab9e95;
}
.about-join-button {
  @include button;
  font-family: $medium;
  font-size: 15px;
  font-size: px2vw(15, $designLarge);
  letter-spacing: ps2em(200);
  line-height: px2lh(15, 18);
  @media (max-width: $about-single-column-break) {
    font-size: 12px;
    font-size: px2vw(12, $designSmall);
    letter-spacing: ps2em(200);
    line-height: px2lh(12, 30);
  }
}
.about-join-message {
  font-family: $regular;
  font-size: 30px;

  font-size: px2vw(30, $designLarge);
  letter-spacing: ps2em(10);
  line-height: px2lh(30, 50);
  @media (max-width: $about-single-column-break) {
    font-size: px2vw(20, $designSmall);
    letter-spacing: ps2em(10);
    line-height: px2lh(20, 30);
  }
}
