// section class .about-join

// containers
.about-join-details {

  display: flex;
  flex-flow: column;
  align-items: center;
  & > * {
    margin: 5% 0;
  }
}

// texts
.about-join-text-block {
  @media (max-width: $about-single-column-break) {
    display: flex;
    text-align: left;
    flex-flow: column;
    // margin: 15% 0;
    padding: 0% 3%;
    // & > * {
    //   margin: 4% 0;
    // }
    .about-right-container-title {
      margin: 10% 0;
    }
  }

  @media (min-width: $about-single-column-break + 1) {
    & > * {
      padding: 4% 20%;
    }
  }
}

.about-join-message,
.about-join-button {
  color: #ab9e95;
}
.about-join-button {
  @include button;
  font-family: $medium;
  font-size: 15px;
  font-size: 1.08vw;
  padding: 1.2vw 1.5vw;
  @media (max-width: $about-single-column-break) {
    font-size: 4.3vw;
    font-size: 13px;
    padding: 17px 20px;
  }
}
.about-join-message {
  font-family: $regular;
  font-size: 30px;

  font-size: px2vw(30, $designLarge);
  letter-spacing: ps2em(300);
  line-height: px2lh(30, 80);
  @media (max-width: $about-single-column-break) {
    font-size: px2vw(20, $designSmall);
    letter-spacing: ps2em(10);
    line-height: px2lh(20, 30);
  }
}
