// section class .about-join



// texts
.about-join-text-block {
  display: flex;
  flex-flow: column;
  align-self: center;
  padding: 2% 6% 2% 7%;

  @media (max-width: $about-text-break) {
    padding: 2%;
  }

  @media (max-width: $about-single-column-break) {
    display: flex;
    text-align: center;
    flex-flow: column;
    padding: 8.5% 3%;
  }
}

.about-join-title {
  @include about-mini-header;
  margin-bottom: 15%;

  @media (max-width: $about-break) {
    font-size: 21.34px;
  }
  @media (max-width: $about-text-break) {
    margin-bottom: 5%;
  }

  @media (max-width: $about-single-column-break) {
    @include about-mini-header--small;
    margin-bottom: 7%;
  }
}

.about-join-message {
  font-family: $regular;
  color: #ab9e95;

  font-size: px2vw(30, $designLarge);
  letter-spacing: ps2em(0 );
  line-height: px2lh(30, 51);

  margin-bottom: 8%;

  @media (max-width: $about-break) {
    font-size: 14px;
  }

  @media (max-width: $about-single-column-break) {
    font-size: px2vw(20, $designSmall);
    // letter-spacing: ps2em(10);
    line-height: px2lh(20, 30);
  }
}

.about-join-button {
  @include button;

  @media (max-width: $about-break) {
    letter-spacing: 0;
    padding: 13px 18px;
  }

  @media (max-width: $about-single-column-break) {
    @include button--small;
  }
}

