.about-greyback {
  background: grey;
  color: white;
}
.about-text-block {
  background: $white;
}

.about-text-flex-column {
  display: flex;
  flex-direction: column;
  padding: 0 14%;

  @media (max-width: $about-single-column-break) {
    padding: 0 2%;
  }
}

.about-text-single-blurb {
  font-family: $regular;
  color: $lightBrown;
  font-size: 30px;
  font-size: px2vw(30, $designLarge);
  letter-spacing: ps2em(0);
  line-height: px2lh(30, 50);
  margin: 4.7vw auto 7vw auto;
  width: 67%;

  @media (max-width: $about-break) {
    width: auto;
    max-width: 982px;
    padding: 0 40px;
    font-size: 21.29px;
  }

  @media (max-width: $about-single-column-break) {
    margin: 0% auto;
    padding: 9% 5% 14.5%;
    font-size: 20px;
    font-size: px2vw(20, $designSmall);
    letter-spacing: ps2em(0);
    line-height: px2lh(40, 65);
    width: 100%;
  }
}
