// section class .about-values

// text
.about-value-headline {
  text-align: center;
  margin-bottom: 6%;
  @media (max-width: $about-single-column-break) {
    margin-bottom: 10%;
  }
}

.about-value-header {
  font-size: 50px;
  font-size: px2vw(50, $designLarge);
  letter-spacing: ps2em(320);
  line-height: px2lh(50, 70);
  font-family: $bold;
  color: $lightBrown;
  overflow-wrap: break-word;
  padding: 0 13%;
  @media (max-width: $about-single-column-break) {
    font-size: 20px;
    font-size: px2vw(25, $designSmall);
    letter-spacing: ps2em(300);
    line-height: px2lh(25, 40);
    padding: 0 5%;
  }
}

.about-value-content {
  font-size: 18px;
  font-size: px2vw(18, $designLarge);
  letter-spacing: ps2em(10);
  line-height: px2lh(18, 35);
  font-family: $regular;
  color: $brown;
  overflow-wrap: break-word;
  width: 85%;
  padding: 0 13%;
  @media (max-width: $about-single-column-break) {
    font-size: 15px;
    font-size: px2vw(15, $designSmall);
    letter-spacing: ps2em(10);
    line-height: px2lh(15, 25);
    width: 100%;
    padding: 0 5%;
  }
}

.about-value-text-column {
  display: flex;
  flex-direction: column;
  & > * {
    margin: 2% 0;
  }
  & > .about-text-block__dash-left {
    margin-left: 13%;
    @media (max-width: $about-single-column-break) {
      margin-left: 5%;
      width: 7vw;
      height: 1.59vw;
    }
  }
  & > .about-text-block__dash-right {
    margin-right: 15%;
    @media (max-width: $about-single-column-break) {
      align-self: flex-start;
      margin-left: 5%;
      width: 7vw;
      height: 1.59vw;
    }
  }
}

.about-value {

  @media (max-width: $about-single-column-break) {
    .about-horizontal {
      margin: 5% 0;
    }
  }

  @media (min-width: $about-single-column-break + 1) {
    &:nth-child(odd) {
      text-align: right;

      .about-value-content {
        padding: 0 0 0 15%;
      }
    }

    &:nth-child(even) {
      text-align: left;

    }
  }
}

