// section class .about-values

// headline
// ----------------------------------------- //
.about-value-headline {
  text-align: center;
  margin-bottom: 5.8%;
  @media (max-width: $about-single-column-break) {
    margin-bottom: 11%;
  }
}

// value container
// ----------------------------------------- //
.about-value {

  // alternate alignement of odd blocks
  @media (min-width: $about-single-column-break + 1) {
    &:nth-child(odd) {
      text-align: right;

      .about-value-header {
        margin-right: -2%;
      }
      .about-value-text-column {
        align-items: flex-end;
      }
    }
  }
}

// column
// ----------------------------------------- //
.about-value-text-column {
  display: flex;
  flex-direction: column;
  padding: 2% 14.6%;

  @media (max-width: $about-single-column-break) {
    padding: 7.8% 5%;
  }
}

// header
// ----------------------------------------- //
.about-value-header {
  font-size: 50px;
  font-size: px2vw(50, $designLarge);
  letter-spacing: ps2em(300);
  line-height: px2lh(50, 70);
  font-family: $bold;
  color: $lightBrown;
  overflow-wrap: break-word;
  margin-bottom: 5%;

  @media (max-width: $about-single-column-break) {
    font-size: 25px;
    font-size: px2vw(25, $designSmall);
    letter-spacing: ps2em(300);
    line-height: px2lh(25, 35);
    margin-bottom: 4%;
  }
}

// dash
// ----------------------------------------- //
.about-text-block__dash {
  @include dash;
  margin-bottom: 6%;

  @media (max-width: $about-single-column-break) {
    @include dash-small;
  }
}

// content
// ----------------------------------------- //
.about-value-content {
  font-size: 18px;
  font-size: px2vw(18, $designLarge);
  letter-spacing: ps2em(10);
  line-height: px2lh(18, 35);
  font-family: $regular;
  color: $brown;
  overflow-wrap: break-word;
  width: 85%;

  @media (max-width: $about-single-column-break) {
    font-size: 15px;
    font-size: px2vw(15, $designSmall);
    letter-spacing: ps2em(10);
    line-height: px2lh(15, 25);
    width: 100%;
  }
}


