// section class .about-values

// headline
// ----------------------------------------- //
.about-value-headline {
  @include about-mini-header;
  text-align: center;
  margin-bottom: 4.8%;

  @media (max-width: $about-break) {
    font-size: 21.33px;
  }

  @media (max-width: $about-single-column-break) {
    @include about-mini-header--small;
    margin-bottom: 8%;
  }
}

// value container
// ----------------------------------------- //
.about-value {
  display: flex;

  // alternate alignement of odd blocks
  @media (min-width: $about-single-column-break + 1) {
    &:nth-child(odd) {
      text-align: right;

      .about-value__img-column {
        order: 2;
      }

      .about-value__header {
        margin-right: -2%;
      }
      .about-value__description {
        width: 100%;
        padding-left: 5vw;
      }
      .about-value__text-wrapper {
        align-items: flex-end;

      }
    }
  }

  @media (max-width: $about-single-column-break) {
    flex-direction: column;
  }
}

// image column
// ----------------------------------------- //
.about-value__img-column {
  position: relative;
  flex: 0 0 50%;
  width: 50%;
  overflow: hidden;

  @media (max-width: $about-single-column-break) {
    flex: 0 0 100%;
    width: 100%
  }
}
.about-value__img-wrapper {
  padding: 28.125%;
}
.about-value__picture {
  display: block;
}
.about-value__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

// text column
// ----------------------------------------- //
.about-value__text-column {
  flex: 0 0 50%;
  width: 50%;
  // display: flex;
  align-items: center;

  @media (max-width: $about-single-column-break) {
    flex: 0 0 100%;
    width: 100%
  }
}
.about-value__text-wrapper {
  // display: flex;
  flex-direction: column;
  padding: 6% 14.6%;
  width: 100%;

  @media (max-width: $about-break) {
    padding: 6% 10%;
    // margin-bottom: 3%;
  }

  @media (max-width: $about-single-column-break) {
    padding: 7.8% 5%;
  }
}

// header
// ----------------------------------------- //
.about-value__header {
  font-size: 50px;
  font-size: px2vw(50, $designLarge);
  letter-spacing: ps2em(300);
  line-height: px2lh(50, 70);
  font-family: $bold;
  color: $lightBrown;
  overflow-wrap: break-word;
  margin-bottom: 5%;
  text-transform: uppercase;

  @media (max-width: $about-break) {
    margin-bottom: 3%;
  }

  @media (max-width: $about-single-column-break) {
    font-size: 25px;
    font-size: px2vw(25, $designSmall);
    letter-spacing: ps2em(300);
    line-height: px2lh(25, 35);
    margin-bottom: 4%;
  }
}

// dash
// ----------------------------------------- //
.about-value__dash {
  @include dash;
  margin-bottom: 5%;

  @media (max-width: $about-break) {
    margin-bottom: 3%;
  }

  @media (max-width: $about-single-column-break) {
    @include dash-small;
  }
}

// description
// ----------------------------------------- //
.about-value__description {
  font-size: 18px;
  font-size: px2vw(18, $designLarge);
  letter-spacing: ps2em(10);
  line-height: px2lh(18, 35);
  font-family: $regular;
  color: $brown;
  overflow-wrap: break-word;
  width: 85%;

  p {

  }

  @media (max-width: $about-break) {
    font-size: 12.82px;
  }

  // @media (max-width: $about-text-break) {
  //   font-size: 11px;
  // }
  @media (max-width: $about-single-column-break) {
    font-size: 15px;
    font-size: px2vw(15, $designSmall);
    letter-spacing: ps2em(10);
    line-height: px2lh(15, 25);
    width: 100%;
  }
}


