@media (min-width: $hm-grid-single-column-break + 1) {
  .hm-text-block {
    background: $white;
  }
  .hm-text-block__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 12% 0 14%;
  }
  .hm-text-block__header {
    font-family: $bold;
    font-size: 3.65vw;
    margin-left: -1%;
    text-transform: uppercase;
    color: $lightBrown;
    letter-spacing: ps2em(300);
    margin-bottom: 10.5%;
  }
  .hm-text-block__dash {
    @include dash;
  }
  .hm-text-block__description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60%;
    padding: 8% 0;
  }
  .hm-text-block__description {
    @include hm-body-copy;
  }
  .hm-text-block__inline-cta {
    text-transform: uppercase;
    color: $orange;
    font-family: $medium;
    font-size: 11px;
    letter-spacing: ps2em(200);
  }
  .hm-text-block__cta {
    display: none;
  }
}

// make text scale up on larger screens based on viewport
// ------------------------------------------------------------------------------------------------- //
@media (min-width: $hm-grid-break) {
  // text block
  // ----------------------------------------- //
  .hm-text-block__description {
    @include hm-body-copy--large;
  }
  .hm-text-block__inline-cta {
    font-size: px2vw(15, $designLarge);
  }
}

// Make text blocks height based on content
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $hm-grid-text-break) {
  .hm-text-block__content {
    position: relative;
    height: auto;
    display: block;
  }
  .hm-text-block__header {
    margin-top: 15%;
  }
  .hm-text-block__description-container {
    display: block;
    min-height: 0;
    padding: 8% 0 15%;
  }
}

// single column
// ------------------------------------------------------------------------------------------------- //
@media (max-width: $hm-grid-single-column-break) {
  // text block
  // ----------------------------------------- //
  .hm-text-block {

  }
  .hm-text-block__content {
    position: relative;
    padding: 8% 9.4%;
  }
  .hm-text-block__header {
    font-family: $bold;
    font-size: 12vw;
    text-transform: uppercase;
    color: $lightBrown;
    letter-spacing: ps2em(300);
    margin-left: -1%;
    margin-bottom: 7.1%;
    margin-top: 0;
  }
  .hm-text-block__dash {
    @include dash-small;
    margin-bottom: 7%;
  }
  .hm-text-block__description-container {
    padding: 0;
  }
  .hm-text-block__description {
    @include hm-body-copy--small;
  }
  .hm-text-block__inline-cta {
    display: none;
  }
  .hm-text-block__cta {
    display: block;
    margin-top: 26px;
  }
  .hm-text-block__cta-btn {
    @include button--small;
  }
}
